@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

/*GENERAL CSS*/

body {
    font-family: 'Roboto', arial, helvetica, sans-serif;
    font-size: 1em;
    margin: 10px 0 0 0;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    position: relative;
    color: #427BB0;
    text-decoration: none;
}

a:hover {
    color: #427BB0;
}

a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #427BB0;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* .WRAPPER */

.wrapper {
    display: grid;
    grid-template-areas:
        "header header header"
        "hero hero hero"
        "visit visit visit"
        "spec_ex spec_ex spec_ex"
        "explore explore explore"
        "footer footer footer";
}

header {
    display: grid;
    grid-area: header;
    grid-template-columns: 1fr 1fr;
    align-items: end;
}


nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    /*width: 80%;*/
}

/*HERO*/


.hero {
    display: grid;
    grid-area: hero;
    background: red url(../images/hero_desktop2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 600px;
    justify-content: end;
    align-content: end
    
}

.hero > * {
    color: white;
/*    padding: 0 80px 0 0;*/
}

.hero p {
    text-align: right;
    font-size: 2em;
    padding: 0 40px 40px 0;
}

.hero h1 {
    font-size: calc(24px + (45-21)*(100vw - 400px)/(960-400));
    /*margin: 0 20px 0 0;*/
    padding: 0 40px 10px 0;
    text-align: right;
}

.hero .calltoaction {
    font-size: 2em;
    background: #427BB0;
    padding: 40px;
    margin: 0;
    text-align: center;
    border-top-left-radius: 15px;
    
}

/*VISIT FRONTPAGE*/

.visit_front {
    display: grid;
    grid-gap: 20px;
    grid-area: visit;
    grid-template-columns: repeat(2, minmax(300px, 400px));
    padding: 20px;
    /*max-width: 80%;*/
    justify-self: start;
    /*align-items: start;*/
}

.visit_front ul{
    list-style: none;
    display: inline;
    padding: 0;
}

.visit_front_top {
    grid-column: 1/-1;
    grid-row: 1;
}

.visit_front_top h1 {
    font-size: 36px;
    color: #C1272D;
    margin: 5px 0;
}

.visit_front_top h2 {
    font-size: 20px;
    font-weight: 400;
    color: white;
    background-color: #6F9F41;
    padding: 5px;
    margin: 0;
    display: inline;
}

.visit_front .overskrift {
    font-weight: 700;
    padding-bottom: 10px;
}


/*SPECIAL EVENTS ARTICLES*/

.spec_ex {
    display: grid;
    grid-gap: 20px;
    grid-area: spec_ex;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 20px;
    /*max-width: 80%;*/
  justify-self: center;
}

.spec_ex_top{
    grid-column: 1/-1;
    grid-row: 1;
}

.spec_ex_top h1{
    font-size: 36px;
    color: #C1272D;
    margin: 5px 0;
}

.spec_ex_top h2{
    font-size: 20px;
    font-weight: 400;
    color: white;
    background-color: #6F9F41;
    padding: 5px;
    margin: 0;
    display: inline;
}

.spec_ex .img_txt {
    color: white;
    background-color: #C1272D;
    grid-column: 1;
    grid-row: 1;
    align-self: start;
    justify-self: start;
    padding: 3px;
}

/*EXPLORE ARTICLES*/

.explore {
    display: grid;
    grid-gap: 20px;
    grid-area: explore;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 20px;
    /*max-width: 80%;*/
  justify-self: center;
}

.explore_top{
    grid-column: 1/-1;
/*    grid-row: 1;*/
}

.explore_top h1{
    font-size: 26px;
    color: #9E005D;
    margin: 5px 0;
}

.explore .img_txt {
    color: white;
    background-color: #9E005D !important;
    grid-column: 1;
    grid-row: 1;
    align-self: start;
    justify-self: start;
    padding: 3px;
}

/*ARTICLE BUILD*/

.article1{
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 2;
}

.article1 img {
    grid-column: 1;
    grid-row: 1;
    max-width: 100%;
    height: auto;
    padding: 0 0 15px 0;
}

.article1 .overskrift {
    font-weight: 700;
    padding-bottom: 10px;
}

.article1 .txt {
}

/*FOOTER*/

footer {
    display: grid;
    grid-area: footer;
    grid-template-columns: repeat(3, minmax(250px, max-content));
    grid-template-rows: 1fr;
    background: black;
    justify-content: center;
    padding-bottom: 30px;
}

footer img {
    grid-column: 1/-1;
    justify-self: center;
    padding: 10px 0 30px 0;
    }

footer .nav_txt {
    grid-column: 1/-1;
    color: white;
    
}

footer .location ul {
    color: white;
    list-style: none;
    padding-bottom: 20px;
    display: inline;
    
}

/*footer ul a {
    display: inline;
}*/

.copyright {
    color: white;
    grid-column: 1/-1;
    justify-self: center;
    padding: 30px
}
