/* CSS Variables */

:root {
    --primary: #eee;
    --dark: #000;
    --grey: #404040;
    --light: #fff;
    --red: #C1272D;
    --blue: #277B97;
    --green: #6F9F41;
    --purple: #9E005D;
    --shadow: 0 1px 5px rgba(100, 100, 100, 0.8);
    --green-trans: rgba(111, 159, 65, 0.8);
    --blue-trans: rgba(66, 123, 176, 0.8);
    --red-trans: rgba(193, 39, 45, 0.8);
    --transparent: rgba(70, 70, 70, 0.4);
}

/*GENERAL CSS*/

body {
    font-family: 'Roboto', arial, helvetica, sans-serif;
    font-size: 1em;
    margin: 0 10px 10px 10px;
    line-height: 1.3;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    margin: auto;
    max-width: 1440px;
    display: grid;
    grid-gap: 20px;
    padding-top: 90px;
}

/*LINKS*/

.button {
    background: var(--blue);
    color: var(--light) display: block;
    justify-self: end;
    text-align: center;
    padding: 1em;
    font-size: 1.3em;
}

.button a:hover {
    background: var(--primary);
}


a {
    color: var(--blue);
    text-decoration: none;
    transition: all .5s ease;
}

a:hover {
    color: var(--dark);
}

footer a:hover {
    color: var(--primary);
}

.link_right {
    text-align: right;
}

/* NAVIGATION */

.navbar {
    background-color: var(--light);
    position: fixed;
    min-width: 100%;
    z-index: 500;
}

.logo {
    display: inline-block;
    margin: 10px 0 0 0;
    padding: 0;
}

/*CONTENT WRAPPER*/

.nav-container {
    margin: 0 30px 0 0;
    max-width: 1440px;
    padding: 0 10px 0 0;
}

/*NAVIGATION AND HAMBURGER*/

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 50%;
    padding-right: 30px;
}

nav li {
    display: inline-block;
}

#menu-toggle {
    display: none;
}

.label-toggle {
    display: none;
}

.nav-container {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
}

.sub-menu {
    display: none;
}

/*MEDIA QUERY HAMBURGER*/

@media screen and (max-width: 1000px) {

    .wrapper {
        padding-top: 100px;
    }

    nav ul {
        background-color: var(--light);
        display: block;
        height: 0;
        list-style-type: none;
        opacity: 0;
        text-align: left;
        transition: all 1s ease;
        width: 100%;
        visibility: hidden;
        margin: 0;
        padding: 0 2em;
    }

    nav li {
        /*border-bottom: 2px solid var(--blue);*/
        width: 100%;
        /*        color: var(--blue);*/
        display: block;
        font-size: 1.2em;
        padding: 0.5em;
    }

    #menu-toggle:checked ~ ul {
        opacity: 1;
        height: 100vh;
        visibility: visible;
    }

    .label-toggle {

        background: linear-gradient(to bottom, var(--blue) 0%, var(--blue) 20%, transparent 20%, transparent 40%, var(--blue) 40%, var(--blue) 60%, transparent 60%, transparent 80%, var(--blue) 80%, var(--blue)100%);

        cursor: pointer;
        display: block;
        float: right;
        height: 30px;
        margin: 2em 0.5em 0 0;
        width: 35px;
    }

    .nav-container {
        display: block;
    }

    .sub-menu {
        font-size: 1em;
        display: block;
        padding-left: 2em;
    }
}

/* TOP CONTAINER */

.hero-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    grid-template-areas: 'hero hero top-box-a' 'hero hero top-box-b';
    z-index: 300;
    max-width: 100%;
}

/* HERO */

.hero {
    display: grid;
    grid-area: hero;
    background: grey url(../images/hero_main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    min-height: 400px;
    justify-content: end;
    align-content: end
}

.hero > * {
    color: white;
}

.hero p {
    text-align: right;
    font-size: 1.5em;
    padding: 0 40px 40px 0;
    text-shadow: 0 1px 5px rgba(100, 100, 100, 0.8);
}

.hero span {
    background: var(--green-trans)
}

.hero h1 {
    font-size: 4em;
    /*font-size: calc(1em + (36-28)*(100vw - 400px)/(1440-360));*/
    padding: 5px;
    text-align: center;
    text-shadow: 0 1px 5px rgba(100, 100, 100, 0.8);
    background: var(--green-trans);

}

.hero .link_right {
    font-size: 1.8rem;
    background: var(--blue);
    color: var(--light);
    padding: 1rem;
    text-decoration: none;
    border: 0;
    text-align: center;
    justify-self: end;
}

/* HERO EXHIBITIONS */

.hero-exhibitions {
    display: grid;
    grid-area: hero;
    background: grey url(../images/exhibitions.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 500px;
    align-content: start;
}

.hero-exhibitions h1 {
    grid-column: 1/-1;
    grid-row: 1;
    font-size: 4.8em;
    color: var(--light);
    background: var(--green-trans);
    text-align: center
}

.hero-exhibitions p {
    grid-row: 2;
    font-size: 2em;
    color: var(--light);
    text-align: left;
    padding: 0 20px;
    margin: 80px 0;
    justify-self: start;
}

span {
    background-color: var(--transparent);
    white-space: pre-wrap;
    padding-right: 10px;
}

span span {
    position: relative;
    left: 10px;
}

/* HERO ABOUT */

.hero-about {
    display: grid;
    grid-area: hero;
    background: grey url(../images/about-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    min-height: 500px;
    align-content: start;
}

.hero-about h1 {
    grid-column: 1/-1;
    font-size: 3em;
    color: var(--light);
    background: var(--blue-trans);
    text-align: center;
}

.hero-about .img_txt_green {
    font-size: 1.3em;
    color: white;
    background-color: var(--blue);
    grid-column: 1;
    grid-row: 1;
    align-self: start;
    justify-self: start;
    padding: 8px;
    margin: 0 0 400px 0;
}

/* HERO ABOUT */

.hero-events {
    display: grid;
    grid-area: hero;
    background: grey url(../images/events-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    min-height: 500px;
    align-content: start;
}

.hero-events h1 {
    grid-column: 1/-1;
    font-size: 3em;
    color: var(--light);
    background: var(--blue-trans);
    text-align: center;
}

.hero-events .img_txt_green {
    font-size: 1.3em;
    color: white;
    background-color: var(--blue);
    grid-column: 1;
    grid-row: 1;
    align-self: start;
    justify-self: start;
    padding: 8px;
    margin: 0 0 400px 0;
}


/* HERO BIOLOGY */

.hero-biology {
    display: grid;
    grid-area: hero;
    background: grey url(../images/biology.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 500px;
    align-content: end;
}

.hero-biology h1 {
    grid-column: 1/-1;
    font-size: 3em;
    color: var(--light);
    background: var(--green-trans);
    text-align: center;
}

.hero-biology .img_txt_green {
    font-size: 1.3em;
    color: white;
    background-color: var(--green);
    grid-column: 1;
    grid-row: 1;
    align-self: start;
    justify-self: start;
    padding: 8px;
    margin: 0 0 400px 0;
}

/* HERO ROBOTICS */

.hero-robotics {
    display: grid;
    grid-area: hero;
    background: grey url(../images/robotics-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 500px;
    align-content: end;
}

.hero-robotics h1 {
    grid-column: 1/-1;
    font-size: 3em;
    color: var(--light);
    background: var(--green-trans);
    text-align: center;
}

.hero-robotics .img_txt_green {
    font-size: 1.3em;
    color: white;
    background-color: var(--green);
    grid-column: 1;
    grid-row: 1;
    align-self: start;
    justify-self: start;
    padding: 8px;
    margin: 0 0 400px 0;
}

/* HERO EVOLUTION */

.hero-evolution {
    display: grid;
    grid-area: hero;
    background: grey url(../images/evolution-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 500px;
    align-content: end;
}

.hero-evolution h1 {
    grid-column: 1/-1;
    font-size: 3em;
    color: var(--light);
    background: var(--green-trans);
    text-align: center;
}

.hero-evolution .img_txt_green {
    font-size: 1.3em;
    color: white;
    background-color: var(--green);
    grid-column: 1;
    grid-row: 1;
    align-self: start;
    justify-self: start;
    padding: 8px;
    margin: 0 0 400px 0;
}

/* HERO COSMOLOGY */

.hero-cosmology {
    display: grid;
    grid-area: hero;
    background: grey url(../images/cosmology-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 500px;
    align-content: end;
}

.hero-cosmology h1 {
    grid-column: 1/-1;
    font-size: 3em;
    color: var(--light);
    background: var(--green-trans);
    text-align: center;
}

.hero-cosmology .img_txt_green {
    font-size: 1.3em;
    color: white;
    background-color: var(--green);
    align-self: start;
    justify-self: start;
    padding: 8px;
    margin: 0 0 400px 0;
}

/* HERO ECOLOGY */

.hero-ecology {
    display: grid;
    grid-area: hero;
    background: grey url(../images/ecology-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 500px;
    align-content: end;
}

.hero-ecology h1 {
    grid-column: 1/-1;
    font-size: 3em;
    color: var(--light);
    background: var(--green-trans);
    text-align: center;
}

.hero-ecology .img_txt_green {
    font-size: 1.3em;
    color: white;
    background-color: var(--green);
    align-self: start;
    justify-self: start;
    padding: 8px;
    margin: 0 0 400px 0;
}

/* TOP BOX */

.top-box {

    background: var(--primary);
    display: grid;
    align-content: start;
    box-shadow: var(--shadow);
    padding: 1em 2em;
}

.top-box-exhibitions {

    background: var(--primary);
    display: grid;
    align-items: start;
    box-shadow: var(--shadow);
    padding: 1rem 2rem;
}

.top-box-a {
    grid-area: top-box-a;
}

.top-box-b {
    grid-area: top-box-b;
}

.top-box h1 {
    font-size: 2em;
    color: var(--grey);
    margin: 0;
    padding: 0;
}

.top-box h2 {
    font-size: 20px;
    font-weight: 400;
    color: white;
    background-color: var(--green);
    padding: 5px;
    margin: 0;
    justify-self: start;
}

.top-box h3 {
    font-size: 1em;
    font-weight: 700;
    margin: 1rem 0 0 0;
}

.top-box ul {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
}

/*TOP BOX EXHIBITIONS*/

.top-box-exhibitions h1 {
    font-size: 36px;
    color: var(--grey);
    margin: 0;
    padding: 0;
}

.top-box-exhibitions h2 {
    font-size: 20px;
    font-weight: 400;
    color: white;
    background-color: var(--green);
    padding: 5px;
    margin: 0;
    display: inline;
}

.top-box-exhibitions h3 {
    font-size: 1em;
    font-weight: 700;
    margin: 1rem 0 0 0;
}

.top-box-exhibitions ul {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
}

/*CRUMBS*/

.crumbs {
    display: grid;
    align-self: start;
    padding: 0;
    margin 0;
}

.crumbs ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.crumbs li {
    justify-content: space-between;
    display: flex;
    padding-left: 0.7em;
    font-size: 0.9em
}

/* Boxes */

.boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.boxes a {
    justify-self: end;
    align-self: end;
    font-size: 1em;
    font-weight: 500;
}

.heading-boxes h1 {
    grid-column: 1/-1;
    grid-row: 1;
    font-size: 2em;
    color: var(--red);
    margin: 0;
}

.heading-boxes-explore h1 {
    grid-column: 1/-1;
    grid-row: 1;
    font-size: 2em;
    color: var(--purple);
    margin: 5px 0;
    padding: 0;
}

.heading-boxes h2 {
    font-size: 1.3em;
    font-weight: 400;
    color: white;
    background-color: var(--green);
    padding: 0 5px 0 5px;
    margin: 0;
    display: inline;
}

.heading-boxes-explore h2 {
    font-size: 22px;
    font-weight: 400;
    color: white;
    background-color: var(--green);
    padding: 5px;
    margin: 0;
    display: inline;
}

.box {
    display: grid;
    background: var(--primary);
    text-align: center;
    padding: 1.5em 1.5em;
    box-shadow: var(--shadow);
    align-content: start;
}

.box .img_txt {
    font-size: 1.3rem;
    color: white;
    background-color: var(--red);
    grid-column: 1;
    grid-row: 1;
    align-self: start;
    justify-self: start;
    padding: 3px;
}

.box .img_txt_explore {
    font-size: 1.3em;
    color: white;
    background-color: var(--purple);
    grid-column: 1;
    grid-row: 1;
    align-self: start;
    justify-self: start;
    padding: 3px;
}

.box .img_txt_green {
    font-size: 1.6em;
    color: white;
    background-color: var(--green);
    grid-column: 1;
    grid-row: 1;
    align-self: start;
    justify-self: start;
    padding: 8px;
}

.box img {
    grid-column: 1;
    grid-row: 1;
    align-self: start;
    justify-self: start;
}

/* INFO */

.info {
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    padding: 3em;
}

.visit {
    padding-right: 6em;
}

.info h1 {

    grid-column: 1/-1;
    grid-row: 1;
    padding: 0;
    margin: 0;
    font-size: 36px;
    color: var(--dark);
}

.info h2 {

    padding: 0;
    margin: 0;
    font-size: 1.3em;
    color: var(--dark);
}

.info h4 {
    margin-top: 0;
}

.info-head-top {
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    padding: 3em;
}

.info-head-top h1 {
    grid-column: 1/-1;
    padding: 0;
    margin: 0;
    font-size: 2.5em;
    color: var(--dark);
}

.info a {
    justify-self: end;
}

.info .img_txt_green {
    font-size: 1.3em;
    color: white;
    background-color: var(--green);
    grid-column: 1/-1;
    grid-row: 1;
    align-self: start;
    justify-self: start;
    padding: 8px;
    margin: 0 0 1.5em 0;
}

/*MORE TO EXPLORE SECTION*/

.more-to-explore-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

}

.more-to-explore {
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: var(--shadow);
    justify-content: start;
    align-content: start;
    padding-right: 15px;
}

.more-to-explore h1 {
    font-size: 1.1em;
}


.more-to-explore img {
    padding: 0 0 0 1em;

}

.more-to-explore ul li {
    list-style: none;
    justify-self: start;
    padding: 0;
    margin: 0;
}

.more-to-explore .img_txt_green {
    font-size: 1.3em;
    color: white;
    background-color: var(--green);
    grid-column: 1/-1;
    grid-row: 1;
    align-self: start;
    justify-self: start;
    padding: 8px;
    margin: 0 0 1.5em 0;
}

.li_date {
    color: var(--red);
    font-weight: 700;
}

/*FOOTER*/

footer {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, min-content));
    /*    grid-template-columns: 1fr 1fr 1fr 1fr;*/
    background: var(--dark);
    justify-content: center;
    align-items: start;
    padding: 30px 20px 15px 20px;
    color: var(--light);


}

footer img {
    grid-column: 1/-1;
    justify-self: center;
    padding: 10px 0 50px 0;
}

footer .nav_txt {
    grid-column: 1/-1;

}

footer ul {
    color: white;
    list-style: none;
    padding: 0;
}

footer li {
    padding: 0;
    margin: 0;
}

.copyright {
    color: white;
    grid-column: 1/-1;
    justify-self: center;
    padding-top: 3em
}

/* MEDIA QUERIES */

@media screen and (max-width: 800px) {

    .info {
        grid-template-columns: 1fr;
    }

    .info-head-top {
        grid-template-columns: 1fr;
    }

    .hero h1 {
        font-size: 2em;
        /*        align-content: end;*/
    }
    .more-to-explore-container {
        grid-template-columns: 1fr;
    }

}

@media screen and (max-width: 1000px) {

    .more-to-explore .img_txt_green {
        font-size: 1rem;
    }
    .hero-container {
        grid-template-columns: 1fr;
        grid-template-areas: 'hero hero' 'top-box-a top-box-b';
    }

    .hero h1 {
        font-size: 3.5em;

    }

    .hero .link_right {
        font-size: 1.5em;
    }

    footer {
        grid-template-columns: repeat(2, minmax(300px, min-content));
    }

    .top-box-exhibitions {
        display: none;
    }


}

@media screen and (max-width: 650px) {

    footer {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .hero-about h1 {
        font-size: 2.3em;
    }

    .more-to-explore-container {
        grid-template-columns: 1fr;
    }


    .hero-container {
        grid-template-areas: 'hero' 'top-box-a' 'top-box-b';
    }

    .hero a {
        font-size: 1.2em;
        align-content: end;
    }

    .hero p {
        font-size: 1.2em;
        align-content: end;
    }


    .hero h1 {
        font-size: 1.8em;
    }

    .hero-exhibitions h1 {
        font-size: 2.8em;
    }

    .hero-exhibitions p {
        font-size: 1.5em;
    }

    .hero-exhibitions_sub h1 {
        font-size: 2em;
    }


    .info h1 {
        font-size: 1.9em;
    }

    .info-head-top h1 {
        font-size: 1.9em;
    }

    .visit {
        padding-right: 0;
    }


}

@media screen and (max-width: 350px) {

    .hero a {
        font-size: 1em;
        align-content: end;
    }

    .hero p {
        font-size: 1em;
        align-content: end;
    }


    .hero h1 {
        font-size: 1.6em;
    }

    .boxes {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .visit {
        padding-left: 0;
    }

}
