.wrapper {
    display: grid;
    grid-template-areas:
        "footer footer footer";
}

footer {
    display: grid;
    grid-area: footer;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px;
    background: black;
/*
    justify-items: center;
    align-items: center;
*/
}

footer img {
    grid-column: 1/-1;
    justify-self: center;
    align-self: start;
    
}